<h1 class="text-center">Login</h1>
<p class="alert-danger">{{mensagem}}</p>
<form ng-submit="autenticar()">
    <div class="form-group"></div>
    <label>Login</label>
    <input type="text" class="form-control" placeholder="Digite seu Login" ng-model="usuario.login">
    </div>

    <div class="form-group"></div>
    <label>Senha</label>
    <input type="password" class="form-control" placeholder="Digite sua Senha" ng-model="usuario.senha">
    </div>
    <input type="submit" value="Entrar" class="btn btn btn-primary">
</form>